@charset "utf-8";
/* CSS Document */
		header {
			padding: 20px;
			text-align: center;
			background-color: coral;
			color:antiquewhite;
			font-size: 30px;
			font-family: 'Georgia', serif;
		}

		body {
				background-color: antiquewhite;
		}

		h1 {
            text-align: center;
			 font-family: 'Georgia', serif;
			color:brown
        }
		
		h2 {
			text-align: center;
			font-family: 'Georgia', serif;
			color:saddlebrown;
			margin-left:100px;
			margin-right:100px;
		}
		
		p {
			text-align: center;
			color: chocolate;
			margin-left: 100px;
			margin-right: 100px;
		}

		footer {
			background-color: lightcoral;
			text-align: center;
			padding: 10px;
		}